
{% load static %}

<!DOCTYPE html>
    <html lang="en">

        <head>

            <title> ET | Password reset sent </title>

            <meta charset="utf-8" />

            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
            
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
       
        </head>

        <body>

            <br>

            <div class="container bg-white shadow p-5 form-layout">

                <h3> Password reset sent </h3>

                <br>

                <p> We've emailed a password reset link to your email address </p>

                <br>
                
            </div>

            <br>

        </body>

    </html>